body {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

section {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646;
}

@media (max-width: 600px) {
    section#first {
        background-image: url("../img/mobile_city.jpg");
    }
}

@media (min-width: 601px) {
    section#first {
        background-image: url("../img/city.jpg");
    }
}

section.separator {
    background-image: url("../img/separator.png");
    height: 182px;
}


/* #home section#first {
    background-image: url("../img/city.jpg");
} */

#second {
    padding-top: 150px;
}

#home section#second {
    background-image: url("../img/leaves.jpg");
}

#contact section#first {
    background-image: url("../img/skyline.png");
}

#about section#first {
    background-image: url("../img/skyscrapers.jpg");
}

.navbar-brand {
    line-height: 75%;
}

.navbar-brand.navbar-primary {
    font-variant: small-caps;
    font-size: 48px;
    font-weight: 600;
}

.navbar-brand.navbar-sub {
    font-size: 19px;
    font-weight: 500;
}

.btn,
.nav-item a {
    padding: 16px 32px;
    line-height: 0.9;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 19px;
}

h1 {
    font-size: 68px;
    font-variant: small-caps;
    font-weight: 600;
}

h2 {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
}

h3 {
    font-size: 25px;
    font-weight: 600;
}

p {
    font-size: 21px;
    font-weight: 600;
}

label {
    color: #212529;
}

.form-floating>textarea.form-control {
    min-height: calc(1.5em + .75rem + 2px);
    height: unset;
}

.social-media-links {
    width: 360px;
}

.partner-info {
    margin-top: 80px;
}

.emails a {
    color: inherit;
}

.contact-other-ways {
    margin-top: 100px;
}

.btn svg {
    vertical-align: -2px
}

#about #description {
    margin-top: 150px;
}

#home #second #description {
    margin-top: 120px;
}

#description>div {
    margin-bottom: 150px;
}

#about section#first {
    padding-bottom: 150px;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: white;
}