body {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

section#first {
    background-image: url("../img/city.jpg");
}

.navbar-brand {
    line-height: 75%;
}

.navbar-brand.navbar-primary {
    font-variant: small-caps;
    font-size: 48px;
    font-weight: 500;
}

.navbar-brand.navbar-sub {
    font-size: 19px;
    font-weight: 600;
}

.btn, .nav-item a {
    padding: 16px 32px;
    line-height: 0.9;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 19px;
}

h1 {
    font-size: 68px;
    font-variant: small-caps;
    font-weight: 500;
}

h2 {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
}

h2 {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
}

p {
    font-size: 21px;
    font-weight: 600;
}


/*
.btn-sample { 
  color: #FFFFFF; 
  background-color: #2ECC71; 
  border-color: #2ECC71; 
} 
 
.btn-sample:hover, 
.btn-sample:focus, 
.btn-sample:active, 
.btn-sample.active, 
.open .dropdown-toggle.btn-sample { 
  color: #FFFFFF; 
  background-color: #28B062; 
  border-color: #2ECC71; 
} 
 
.btn-sample:active, 
.btn-sample.active, 
.open .dropdown-toggle.btn-sample { 
  background-image: none; 
} 
 
.btn-sample.disabled, 
.btn-sample[disabled], 
fieldset[disabled] .btn-sample, 
.btn-sample.disabled:hover, 
.btn-sample[disabled]:hover, 
fieldset[disabled] .btn-sample:hover, 
.btn-sample.disabled:focus, 
.btn-sample[disabled]:focus, 
fieldset[disabled] .btn-sample:focus, 
.btn-sample.disabled:active, 
.btn-sample[disabled]:active, 
fieldset[disabled] .btn-sample:active, 
.btn-sample.disabled.active, 
.btn-sample[disabled].active, 
fieldset[disabled] .btn-sample.active { 
  background-color: #2ECC71; 
  border-color: #2ECC71; 
} 
 
.btn-sample .badge { 
  color: #2ECC71; 
  background-color: #FFFFFF; 
}
*/