body {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

section#first {
    background-image: url("../img/city.jpg");
}

#home section#first {
    background-image: url("../img/city.jpg");
}

#contact section#first {
    background-image: url("../img/skyline.png");
}

.navbar-brand {
    line-height: 75%;
}

.navbar-brand.navbar-primary {
    font-variant: small-caps;
    font-size: 48px;
    font-weight: 600;
}

.navbar-brand.navbar-sub {
    font-size: 19px;
    font-weight: 500;
}

.btn, .nav-item a {
    padding: 16px 32px;
    line-height: 0.9;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 19px;
}

h1 {
    font-size: 68px;
    font-variant: small-caps;
    font-weight: 600;
}

h2 {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
}

h3 {
    font-size: 25px;
    font-weight: 600;
}

p {
    font-size: 21px;
    font-weight: 600;
}

label {
    color: #212529;
}

.form-floating>textarea.form-control {
    min-height: calc(1.5em + .75rem + 2px);
    height: unset;
}

.social-media-links {
    width: 360px;
}

.partner-info {
    margin-top: 80px;
}

.emails a {
    color: inherit;
}

.contact-other-ways {
    margin-top: 100px;
}